<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Camera 1 設定 -->
    <add key="Camera1_Name" value="DMK 33UX287"/>
    <add key="Camera1_Serial" value="0x49324163"/>
    <add key="Camera1_Format" value="RGB24 (720x540)"/>
    <add key="Camera1_FPS" value="30.0"/>
    <add key="Camera1_FlipH" value="false"/>
    <add key="Camera1_FlipV" value="false"/>

    <!-- Camera 2 設定 -->
    <add key="Camera2_Name" value="DMK 33UX287 1"/>
    <add key="Camera2_Serial" value="0x49324164"/>
    <add key="Camera2_Format" value="RGB24 (720x540)"/>
    <add key="Camera2_FPS" value="30.0"/>
    <add key="Camera2_FlipH" value="false"/>
    <add key="Camera2_FlipV" value="false"/>
  </appSettings>
</configuration>